/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,400;0,600;0,700;1,100;1,200;1,500&family=Lora:ital,wght@1,400;1,500;1,600&family=Open+Sans:wght@300;400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Rubik:wght@400;500;700&family=Varela&family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  font-size: 1.6rem;

}


h1{
  font-size: 6rem
}

.app{
  width: 100%;
  height: 100vh;
  position: relative; 
  background-color: rgb(0,0, 0, 0.4);
  color: white;
}


.app:before {
  content: "";
  background-image: url('./assets/rain.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app .search {
  text-align: center;
  padding: 2rem;
}

.app .search input {
  border-radius:25px;
  border: none;
  color: #fff;
  outline: none;
  padding: 1rem;
  font-size: 1rem;
  background: rgb(255,255, 255, 0.1);
 
}

::placeholder{
  color: #fff;
}

.container{
  max-width:  700px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

 .app .container .top{

  width: 100%;
  margin:  1rem auto;
}
.app .container .top .description{
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate( 270deg);
}


.app .container .bottom{
  display: flex;
  justify-content:  space-evenly;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 1rem;
  margin: 1rem auto;
}

.bold{
  font-weight: 700;
}

